
body {
    padding: 0;
    margin: 0;
    background-color: rgb(175, 217, 223);
}
.container {
    text-align: center;
    
}
main {
    text-align: center;
}
table {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-collapse: collapse;
}
th {
    background-color: grey;
    padding: 10px;
    border: solid 1px black;
}
tbody{
    background-color: rgb(191, 191, 224);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hide {
    display: none;
}
